* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.logo {
  width: 90%;
  margin-top: 10px;
}

.nav_links {
  display: inline-flex;
  padding: 15px 10px;
  list-style-type: none;
  margin-top: 10px;
}
.nav_links li a {
  margin: 10px;
  color: black;
}

.arrows {
  margin: 3px;
}

/* fine header  */

/* buttons */
.btn_blue {
  border-color: blue;
  color: blue;
  margin: -5px;
}

.btn_google {
  width: 5%;
  float: left;
  margin: 3px
}

.btn_account {
  font-size: 10px;
}

.btn_started {
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
/* buttons */

/* utility/ */
.link_blue {
  color: blue;
}

h5 {
  font-weight: bold;
}

#bg_lightgrey,
#developers,
#teams {
  background-color: #f3f5f9;
}

.arrows_black {
  color: black;
}

.text_white {
  color: white;
}
/* utility */

/* section jumbo- */
.bg_blue {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
}

.text_top_left {
  margin-top: 50px;
  color: white;
}

.form_top_right {
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 10px;
}
.form_top_right h4 {
  text-align: center;
  padding-top: 15px;
}

.form_area,
.btn_account {
  width: 80%;
  margin: 0 30px 10px
}
/* fine section jumbo */

/* section loghi */
#bg_lightgrey {
  height: 180px;
}

.text_loghi {
  margin-top: 20px;
  color: grey;
}

.customers {
  width: 100%;
}

.link_customers {
  width: 100%;
}
/* fine section loghi */
/* section deploy */
#deploy {
  width: 100%;
}

.list_left_deploy li {
  margin-left: 30px;
  margin: 20px;
  list-style: none;
}
/* fine section deploy */
/* section developers */
#developers {
  width: 100%;
  height: 500px;
}

.text_developers {
  padding-top: 15px;
}

.screenshot img {
  max-width: 50%;
  height: auto;
}

.arrows {
  font-size: 25px;
}
/* fine section developers */
/* section features */
#features {
  margin-top: 20px;
}

.business {
  margin-top: 35px;
}
/* fine section features */
/* section service */
#service {
  background-color: blue;
  margin-top: 20px;
}

.table_city td {
  color: white;
}

.table_city {
  margin-top: 25px;
  width: 50%;
}

.link_city a,
i {
  color: #00bcd4;
}
/* fine section service */
/* section started */
#started {
  background-color: blue;
  width: 100%;
  height: 150px;
}

/* fine section started */


#footer_blue {
  width: 100%;
  height: 350px;
  background-color: #122176;
}

.copyright_footer {
  margin-top: 20px;
  color: lightgrey;
}

.links_footer {
  padding-top: 20px;
}

.social_footer {
  font-size: 24px;
}
.social_footer i {
  color: lightgrey;
}
.bold_links_footer li {
  color: white;
  list-style: none;
}
.bold_links_footer li:first-child{
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  /* .nav_links {
    display: none;
  } */
  .logo {
    width: 100%;
    margin-top: 25px;
    line-height: 80px;
  }

  .burger {
    width: 100%;
    font-size: 20px;
    line-height: 80px;
  }

  .form_top_right {
    width: 340px;
  }
}
